body{
  background-color: #D1E9F1;
}
header img{
  width: 100%;
  height: 300px;
}

.history{
  
  background-image: linear-gradient(to right,#D1E9F1, #1E90FF);
    float: left;
    border-radius: 2em 0 2em 0;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    width: 31%;
    height: 30%;
}

.today{

  background-image: linear-gradient(to bottom,#D1E9F1, #1E90FF);
    float: left;
    border-radius: 2em 0 2em 0;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    width: 47%;

}



/* article {
  background-color: #D1E9F1;
  background-image: linear-gradient(to right,#D1E9F1, #1E90FF);
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    text-align: center;
    width: 23%;
    height: 30%;
  } */
  article img{
    width: 30%;
    height: 30%;
  }
